<ion-content has-header="true" has-tabs="true" padding="true">

    <div class="list">
        <div ng-repeat="business in businesses">
        <a  class="item item-thumbnail-left" href="#/event/business/{{business._id}}">
            <img src="img/ionic.png">

            <h3>{{business.name}} {{business._id}}</h3>

            <p>{{business.address}}</p>

        </a>
            <button class="button button-assertive" ng-click="deleteBusiness('{{business._id}}')">
                button-assertive
            </button>
        </div>

    </div>

</ion-content>


